body {

    font-family: "Open Sans";
}
.tag-primary{
    background-color: #84632c;
}
.bet-link{
    color: #373a3c;
}
.bet-link:hover{

    text-decoration: none;
    color: #373a3c;
}

.pull-right{

    float: right;
}

.profile-img{
    border-radius: 10%;
    width: 140px;
    height: 140px;
}
.profile-img-sm{
    margin: 4px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.profile-date-sm{
    display: table-cell;
    float: none;
    vertical-align: bottom;
    padding-left:7px;
}
.alert-color{

    color:#a94442;
}
.container{
    width: 80%
}
.help-block{
    color: red;
}
.comment-pic{
    width: 50px;
    height: 50px;
}
.color-brown{
    color: #94743d;
}

.background{
    background: url('/static/img/footer_lodyas.png');
}

.wrap{
    word-wrap: break-word;
}

