{% extends 'base.html' %}
{% load socialaccount %}
{% load friend_list %}

{% load staticfiles %}
{% block title %}Welcome{% endblock %}
{% block index %}
<nav class="navbar navbar-dark navbar-full bg-inverse">
    <!-- Navbar content -->
    <a class="navbar-brand" href="/">Roll</a>

    <ul class="nav navbar-nav ">
        {% if user and not user.is_anonymous %}
        <li class="nav-item">
        <a class="nav-link" href="/bets">Your Bets</a>
        </li>

    </ul>
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item ">
        <a class="nav-link" href="/logout/">Logout</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% if user and not user.is_anonymous %}
<div class="row">
    <div class="col-md-9">
        {% block content %}{% endblock %}
    </div>
    <div class="col-md-3 pull-right">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title">Friends</h2>
            </div>
            <ul class="list-group list-group-flush">
                {% current_friends as friends %}
                {% if friends %}
                {% for friend in friends %}

                <li class="list-group-item">

                <img class="profile-img-sm" src="{{friend.socialaccount_set.all.0.get_avatar_url}}">

                <a href="/friend/{{friend.pk}}">
                    {{friend.first_name}} {{friend.last_name}}
                </a>

                </li>

                <br>


                {% endfor %}
                {% endif %}
            </ul>
            <div class="card-block">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>

        </div>
    </div>
</div>
<nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse">
    <button class="navbar-toggler color-grey" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
    </button>


    <div class="collapse" id="exCollapsingNavbar">
        <div class="bg-inverse p-a-1" style="color: white;">
            <i class="fa fa-camera-retro fa-2x"></i> 
            You have {{ user.pointcount.points }} Good Boy Points! Hooray!!!

        </div>
    </div>
</nav>
{% else %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="card-block">
                <h4 class="card-title">Welcome </h4>
                <p class="card-text">Please login using Facebook:</p>
                <a class="btn btn-primary" href="{% provider_login_url "facebook" method="oauth2" next="/bets/" %}">Login with Facebook</a>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
