{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% load staticfiles %}
{% block title %}Welcome{% endblock %}
{% block index %}
<nav class="navbar navbar-dark navbar-full bg-inverse">
    <!-- Navbar content -->
    <a class="navbar-brand" href="/">Roll</a>

    <ul class="nav navbar-nav ">
        {% if user and not user.is_anonymous %}
        <li class="nav-item">
        <a class="nav-link" href="/bets">Your Bets</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/friends">Your Friends</a>
        </li>

    <ul>
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item ">
        <a class="nav-link" href="/logout/">Logout</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% if user and not user.is_anonymous %}
{% block content %}{% endblock %}
{% else %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="card">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="card-block">
                        <h4 class="card-title">Welcome </h4>
                        <p class="card-text">Please login using Facebook:</p>
                        <a class="btn btn-primary" href="{% provider_login_url "facebook" method="oauth2" next="/bets/" %}">Login with Facebook</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}
{% endblock %}
